.badge {
    display: inline-block;
    height: 20px;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 0 8px;
    border-radius: 10px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    margin-left: 6px;
}
