@import 'normalize.css';

:root {
    --primary-color: #ff3b5c;
    --text-color: #161823;
    --icon-color: #16182357;
    --black-color: #000;
    --white-color: #fff;
    --font-family: 'TitokFont', sans-serif;
    --display-font-family: 'TitokDisplayFont', sans-serif;

    // default layout
    --default-layout-height: 60px;
    --default-layout-sidebar-width: 232px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    overflow-y: overlay;
}

// Scrollbar
html ::-webkit-scrollbar {
    border-radius: 0px;
    width: 8px;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html ::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

@font-face {
    font-family: TitokFont;
    src: url(/assets/fonts/TikTokFont-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: TitokFont;
    src: url(/assets/fonts/TikTokFont-Semibold.woff2);
    font-weight: 600;
}

@font-face {
    font-family: TitokFont;
    src: url(/assets/fonts/TikTokFont-Bold.woff2);
    font-weight: 700;
}

@font-face {
    font-family: TitokDisplayFont;
    src: url(/assets/fonts/TikTokDisplayFont-Semibold.woff2);
    font-weight: 600;
}

@font-face {
    font-family: TitokDisplayFont;
    src: url(/assets/fonts/TikTokDisplayFont-Bold.woff2);
    font-weight: 700;
}

button,
input,
[tabindex] {
    font-family: var(--font-family);
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

.tippy-box {
    padding: 2px 4px;
    opacity: 0.8;
}
