.wrapper {
    height: var(--default-layout-height);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
}

.inner {
    height: 100%;
    padding-left: 16px;
    padding-right: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search-form {
    --border-radius: 92px;
    --form-height: 46px;
    --spliter-space: 9px;
    --button-width: 52px;

    position: relative;
    width: 500px;
    height: var(--form-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 16px;
    background-color: #1618230f;
    border: 1px solid transparent;
    border-radius: var(--border-radius);

    .search-input {
        flex: 1;
        background-color: transparent;
        font-size: 16px;
        caret-color: var(--primary);
    }

    .submit-btn {
        width: var(--button-width);
        color: var(--icon-color);
        height: 100%;
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);

        svg {
            width: 20px;
            height: 20px;
        }

        &:hover {
            cursor: pointer;
            background-color: #1618230f;
        }
    }

    &::after {
        content: '';
        display: block;
        height: calc(var(--form-height) - var(--spliter-space) * 2);
        border: 1px solid #1618231f;
        position: absolute;
        top: 50%;
        right: var(--button-width);
        transform: translateY(-50%);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.input-inner-wrapper {
    --icon-color: rgba(22, 24, 35, 0.34);

    position: relative;
    width: 40px;
    height: 16px;
    display: flex;
    justify-content: center;

    .reset-input-btn,
    .loading-icon {
        position: absolute;
        color: var(--icon-color);
        width: 16px;
        height: 16px;
    }
}

.search-results {
    width: 500px;
}

.search-title {
    height: 30px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: #16182380;
}

.actions {
    display: inline-flex;
    align-items: center;
}

.user-avatar {
    width: 32px;
    height: 32px;
    margin-left: 24px;
    object-fit: cover;
    cursor: pointer;
}

.more-btn {
    padding: 0 4px;
    margin-left: 16px;
    width: 28px;
    height: 24px;
    background-color: transparent;
    font-size: 18px;
    cursor: pointer;
}

.upload-btn {
    border: 1px solid #1618231f;
    padding: 0px 16px;
    min-width: 110px;
    height: 36px;
    font-size: 16px;
    background-color: var(--white);
    &:hover {
        cursor: pointer;
        background-color: #16182308;
    }
}

.message-btn,
.message-box-btn {
    background-color: transparent;
    width: 32px;
    height: 32px;
    color: var(--text-color);
    font-size: 18px;
    margin-left: 16px;
    cursor: pointer;
}

.message-btn {
    margin-left: 32px;
}
