.wrapper {
    height: var(--default-layout-height);
    background-color: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.inner {
    height: 100%;
    padding-left: 16px;
    padding-right: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.actions {
    display: inline-flex;
    align-items: center;
    font-family: var(--font-family);
}

.user-avatar {
    width: 32px;
    height: 32px;
    margin-left: 24px;
    object-fit: cover;
    cursor: pointer;
}

.more-btn {
    padding: 0 4px;
    margin-left: 16px;
    width: 28px;
    height: 24px;
    background-color: transparent;
    font-size: 18px;
    cursor: pointer;
}

.upload-btn {
    border: 1px solid #1618231f;
    padding: 0px 16px;
    min-width: 110px;
    height: 36px;
    font-size: 16px;
    background-color: var(--white-color);
    border-radius: 2px;
    &:hover {
        cursor: pointer;
        background-color: #16182308;
    }
}

.message-btn,
.message-box-btn {
    background-color: transparent;
    width: 32px;
    height: 32px;
    color: var(--text-color);
    font-size: 18px;
    margin-left: 16px;
    cursor: pointer;
    position: relative;
}

.message-badge {
    position: absolute;
    top: -4px;
    left: 12px;
}

.message-btn {
    margin-left: 32px;
}
