.search-form {
    --border-radius: 92px;
    --form-height: 46px;
    --spliter-space: 9px;
    --button-width: 52px;

    position: relative;
    width: 500px;
    height: var(--form-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 16px;
    background-color: #1618230f;
    border: 1px solid transparent;
    border-radius: var(--border-radius);

    .search-input {
        flex: 1;
        background-color: transparent;
        font-size: 16px;
        caret-color: var(--primary-color);
        font-family: var(--font-family);
    }

    .search-input:not(:placeholder-shown) ~ .submit-btn,
    &:hover .submit-btn {
        color: #161823bf;
    }

    .submit-btn {
        width: var(--button-width);
        color: var(--icon-color);
        height: 100%;
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);

        svg {
            width: 24px;
            height: 24px;
            margin-left: -2px;
        }

        &:hover {
            cursor: pointer;
            background-color: #1618230f;
        }

        &:active {
            background-color: #1618230f;
        }
    }

    &::after {
        content: '';
        display: block;
        height: calc(var(--form-height) - var(--spliter-space) * 2);
        border: 1px solid #1618231f;
        position: absolute;
        top: 50%;
        right: var(--button-width);
        transform: translateY(-50%);
    }

    &:hover,
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.input-inner-wrapper {
    position: relative;
    width: 40px;
    height: 16px;
    display: flex;
    justify-content: center;

    .reset-input-btn,
    .loading-icon {
        position: absolute;
        color: var(--icon-color);
        width: 16px;
        height: 16px;
    }

    .loading-icon {
        animation: spinner 1s linear infinite;
    }
}

.search-results {
    width: 500px;
}

.search-title {
    height: 30px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: #16182380;
}
